.App {
  text-align: center;
  padding-top: 2rem;
  position: relative;
}
 form{
   text-align: center
 }

input{
  
    background-color: #6A5ACD;
    border: 2px solid #4B0082;
    border-radius: 5px;
    color: #FDFDFD;
    font-size: 1.2rem;
    margin: 2rem  ;
    padding: 1rem 1.5rem;

}

select{
  background-color: #bdb8dd;
  border: 1px solid #9186db;
  border-radius: 2px;
  color: black; 
  font-size: 1rem; 
  margin: 1rem; 
  padding: 0.5rem 0.5rem

}


input:focus { 
  border-color: #719ECE;
  box-shadow: 0 0 10px #719ECE;
  background: #836FFF;
}


